
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-brush-1:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\e805'; } /* '' */
.icon-play-1:before { content: '\e806'; } /* '' */
.icon-stop-1:before { content: '\e807'; } /* '' */
